.introduction-block {
  position: relative;
  width: 100%;

  &__background {
    width: 100%;
    height: 0;
    padding-top: 1114px / 640px * 100%;
    background: url(../img/mobile/header_background.jpg) no-repeat;
    background-size: cover;

    @media (max-width: 1024px) and (min-width: 681px) {
      width: 100%;
      height: 0;
      // padding-top: 580px / 1252px * 100%;
      padding-top: 580px / 1265px * 100%;
      background: url(../img/desktop/header_background.jpg) no-repeat;
      background-size: cover;
    }

    @media (max-width: 1400px) and (min-width: 1025px) {
      width: 100%;
      height: 0;
      // padding-top: 580px / 1252px * 100%;
      padding-top: 402px / 858px * 100%;
      background: url(../img/desktop/header_background.jpg) no-repeat;
      background-size: cover;
    }

    @media (max-width: 1560px) and (min-width: 1401px) {
      width: 100%;
      height: 0;
      // padding-top: 580px / 1252px * 100%;
      padding-top: 575px / 1234px * 100%;
      background: url(../img/desktop/header_background.jpg) no-repeat;
      background-size: cover;
    }

    @media (min-width: 1561px) {
      width: 100%;
      height: 0;
      // padding-top: 580px / 1252px * 100%;
      padding-top: 649px / 1394px * 100%;
      background: url(../img/desktop/header_background.jpg) no-repeat;
      background-size: cover;
    }
  }
}

.animation-left {
  @media (min-width: 1025px) {
    animation: toLeft 1s ease;

    @keyframes toLeft {
      0% {
        left: 20%;
      }

      100% {
        left: 0;
      }
    }
  }
}

.icons-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 8.618%;
  top: 145px;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: 1024px) and (min-width: 681px) {
    width: 56.111%;
    height: 40.83%;
    top: 12.5%;
    left: 27.5%;
  }

  @media (max-width: 1400px) and (min-width: 1025px) {
    width: 58.111%;
    height: 40.83%;
    top: 12.5%;
    left: 25.5%;
  }

  @media (max-width: 1560px) and (min-width: 1401px) {
    width: 58.111%;
    height: 40.83%;
    top: 9%;
    left: 24%;
  }

  @media (min-width: 1561px) {
    width: 58.711%;
    height: 42.53%;
    top: 0;
    margin: 46px 0 0 45px;
    transform: translateX(-100%);
  }

  @media (min-width: 1900px) {
    width: 58.711%;
    height: 42.53%;
    top: 0;
    margin: 50px 0 0 28px;
    transform: translateX(-100%);
  }
}

.icon {
  position: relative;
  margin: 0;

  @media (max-width: 680px) {
    width: 33.25%;
    height: 100%;
  }

  @media (max-width: 1400px) and (min-width: 681px) {
    width: 23.039%;
    height: 100%;
  }

  @media (max-width: 1560px) and (min-width: 1401px) {
    width: 23.5%;
    height: 100%;
  }

  @media (min-width: 1561px) {
    width: 23%;
    height: 100%;
  }

  @media (min-width: 1900px) {
    width: 21.9%;
    height: 100%;
  }

  &_heart-width {
    width: 24.25%;

    @media (max-width: 680px) {
      width: 24.2%;
    }

    @media (min-width: 1561px) {
      width: 23%;
    }
  }

  &_gift-width {
    width: 34.25%;

    @media (max-width: 680px) {
      width: 34.25%;
    }

    @media (min-width: 1561px) {
      width: 23%;
    }
  }

  &__block {
    margin: 0 auto;
    overflow: hidden;

    @media (max-width: 680px) {
      width: 74px;
      height: 74px;
    }

    @media (max-width: 1400px) and (min-width: 681px) {
      width: 7.4vw;
      height: 7.3vw;
    }

    @media (max-width: 1560px) and (min-width: 1401px) {
      width: 8vw;
      height: 8vw;
    }

    @media (min-width: 1561px) {
      width: 8.841vw;
      height: 8.841vw;
    }

    @media (min-width: 1900px) {
      width: 8.6vw;
      height: 8.6vw;
    }
  }

  &__background {
    position: relative;
    overflow: hidden;
    background: #ffffff;
    border-radius: 50%;

    @media (max-width: 680px) {
      width: 64px;
      height: 64px;
      margin: 4px auto;
    }

    @media (max-width: 1400px) and (min-width: 681px) {
      width: 100%;
      height: 100%;
      margin: 0;
    }

    @media (max-width: 1560px) and (min-width: 1401px) {
      width: 100%;
      height: 100%;
      margin: 0;
    }

    @media (min-width: 1561px) {
      width: 91.67%;
      height: 91.67%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__desc {
    position: relative;
    text-align: center;
    color: $iconDesc;

    @media (max-width: 680px) {
      padding-top: 11px;
      font-size: $mobileIconDescFontSize;
      line-height: 14px;
      letter-spacing: -0.1px;
    }

    @media (max-width: 1024px) and (min-width: 681px) {
      padding-top: 1vw;
      font-size: 1.35vw;
      line-height: 1.5vw;
      letter-spacing: 0;
    }

    @media (max-width: 1400px) and (min-width: 1025px) {
      padding-top: 1.4vw;
      font-size: 1.35vw;
      line-height: 1.7vw;
      letter-spacing: 0;
    }

    @media (max-width: 1560px) and (min-width: 1401px) {
      padding-top: 1.5vw;
      font-size: 1.25vw;
      line-height: 1.5vw;
      letter-spacing: 0;
    }

    @media (min-width: 1561px) {
      padding-top: 1.1vw;
      font-size: 1.1vw;
      line-height: 1.4vw;
      letter-spacing: 0;
    }

    @media (min-width: 1900px) {
      padding-top: 0.6vw;
      margin-left: -10px;
      font-size: 0.9vw;
      line-height: 1.1vw;
      letter-spacing: 0;
    }
  }
}

// ICONS IMAGES

.camera {
  background: url(../img/desktop/icons/camera.png) no-repeat;
  background-size: cover;
}

.heart {
  background: url(../img/desktop/icons/heart.png) no-repeat;
  background-size: cover;
}

.gift {
  background: url(../img/desktop/icons/gift.png) no-repeat;
  background-size: cover;
}

.lays-hashtag {
  color: $mobileLaysHashtagColor;
}

.text-wrapper {
  position: absolute;

  @media (max-width: 680px) {
    top: 20px;
    left: 50%;
    right: 0;
    margin-left: -62px;
    width: 136px;
  }

  @media (max-width: 1024px) and (min-width: 681px) {
    width: 90%;
    top: 54%;
    margin-left: 9%;
    left: 0;
    right: 0;
  }

  @media (max-width: 1400px) and (min-width: 1025px) {
    width: 90%;
    top: 52.5%;
    margin-left: 6%;
    left: 0;
    right: 0;
  }

  @media (max-width: 1560px) and (min-width: 1401px) {
    width: 90%;
    top: 50.5%;
    margin-left: 4%;
    left: 0;
    right: 0;
  }

  @media (min-width: 1561px) {
    width: 90%;
    top: 49.9%;
    margin-left: 51px;
    left: 0;
    right: 0;
  }

  @media (min-width: 1920px) {
    width: 90%;
    top: 45.9%;
    margin-left: 51px;
    left: 0;
    right: 0;
  }
}

.upper-text {
  position: relative;
  font-family: $mediumFont;

  @media (max-width: 680px) {
    font-size: 44px;
    letter-spacing: 1px;
    line-height: 1;
    color: $mobileCaptionFontColor;
  }

  @media (max-width: 1024px) and (min-width: 681px) {
    font-size: 5.7vw;
    line-height: 4.7vw;
    letter-spacing: 3px;
    color: $laysMainColor;
  }

  @media (max-width: 1400px) and (min-width: 1025px) {
    font-size: 6vw;
    line-height: 6vw;
    letter-spacing: 3px;
    color: $laysMainColor;
  }

  @media (max-width: 1560px) and (min-width: 1401px) {
    font-size: 6.4vw;
    line-height: 6.4vw;
    letter-spacing: 3px;
    color: $laysMainColor;
  }

  @media (min-width: 1561px) {
    font-size: 6.4vw;
    line-height: 6.4vw;
    letter-spacing: 3px;
    color: $laysMainColor;
  }
}

.middle-text {
  font-family: $lightFont;

  @media (max-width: 680px) {
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 24px;
    color: $mobileCaptionFontColor;
  }

  @media (max-width: 1400px) and (min-width: 681px) {
    font-size: 3.2vw;
    line-height: 2.6vw;
    letter-spacing: 0.3vw;
    color: $laysMainColor;
  }

  @media (max-width: 1560px) and (min-width: 1401px) {
    font-size: 3.2vw;
    line-height: 2.6vw;
    letter-spacing: 0.4vw;
    color: $laysMainColor;
  }

  @media (min-width: 1561px) {
    font-size: 3.5vw;
    line-height: 2.6vw;
    letter-spacing: 0.15vw;
    color: $laysMainColor;
  }
}

.lower-text {
  font-family: $lightFont;

  @media (max-width: 680px) {
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 1px;
    color: $mobileCaptionFontColor;
  }

  @media (max-width: 1400px) and (min-width: 681px) {
    font-size: 3.3vw;
    color: $laysMainColor;
  }

  @media (max-width: 1560px) and (min-width: 1401px) {
    font-size: 3.3vw;
    color: $laysMainColor;
  }

  @media (min-width: 1561px) {
    font-size: 3.3vw;
    padding-top: 0.25vw;
    letter-spacing: 0.3vw;
    color: $laysMainColor;
  }

  &_bold {
    font-family: $blackFont;

    @media (max-width: 680px) {
      font-size: 37px;
      color: $mobileCaptionFontColor;
    }

    @media (max-width: 1024px) and (min-width: 681px) {
      font-size: 4.8vw;
      line-height: 4vw;
      letter-spacing: 3px;
      color: $laysMainColor;
    }

    @media (max-width: 1400px) and (min-width: 1025px) {
      font-size: 4.9vw;
      line-height: 5.3vw;
      letter-spacing: 0.35vw;
      color: $laysMainColor;
    }

    @media (max-width: 1560px) and (min-width: 1401px) {
      font-size: 5.2vw;
      line-height: 5.2vw;
      letter-spacing: 0.3vw;
      color: $laysMainColor;
    }

    @media (min-width: 1561px) {
      font-size: 5.3vw;
      line-height: 5.2vw;
      letter-spacing: 0.15vw;
      color: $laysMainColor;
    }
  }
}