@import "./variables.scss";

.header-layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  background: $menuColor;
}

.menu {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.logo-item {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 204px;
  height: 204px;

  .logo {
    position: absolute;
    width: 100%;
    max-height: 136px;
    height: 100%;
    top: 0;
    background: url(/src/img/desktop/lays_logo.png) no-repeat;
    background-position: center;
  }

  .caption {
    position: relative;
    padding-top: 127px;
    font-family: $mediumFont;
    text-align: center;
    color: $logoFontColor;
  }
}

.item {
  position: relative;
  width: 100%;
  min-height: 118px;
  max-height: 204px;
  height: 100%;
}

.item-gallery {

  &__icon {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 98px;
    background: url(/src/img/desktop/menu/gallery.png) no-repeat;
    background-position: center;
  }

  &__caption {
    position: relative;
    padding-top: 85px;
    font-size: $menuFontSize;
    text-align: center;
    color: $menuFontColor;
  }

}

.item-about {

  &__icon {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 90px;
    background: url(/src/img/desktop/menu/about.png) no-repeat;
    background-position: center;
  }

  &__caption {
    position: relative;
    padding-top: 85px;
    font-size: $menuFontSize;
    text-align: center;
    color: $menuFontColor;
  }

}

.item-lays {

  &__icon {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 98px;
    background: url(/src/img/desktop/menu/map.png) no-repeat;
    background-position: center;
  }

  &__caption {
    position: relative;
    padding-top: 85px;
    font-size: $menuFontSize;
    text-align: center;
    color: $menuFontColor;
  }

}