@font-face {
  font-family: "GothamPro-Regular";
  src: url("../fonts/GothaProReg.7b9a959a.woff") format("woff");
}

@font-face {
  font-family: "GothamPro-Light";
  src: url("../fonts/GothaProLig.717add55.woff") format("woff");
}

@font-face {
  font-family: "GothamPro-Medium";
  src: url("../fonts/GothaProMed.b8640793.woff") format("woff");
}

@font-face {
  font-family: "GothamPro-Bold";
  src: url("../fonts/GothaProBol.1ffe6b86.woff") format("woff");
}

@font-face {
  font-family: "GothamPro-Black";
  src: url("../fonts/GothaProBla.a8a6cdf1.woff") format("woff");
}