// Fonts
$lightFont: "GothamPro-Light";
$regularFont: "GothamPro-Regular";
$mediumFont: "GothamPro-Medium";
$boldFont: "GothamPro-Bold";
$blackFont: "GothamPro-Black";

// Size
$menuFontSize: 14px;
$logoFontSize: 16px;
$iconDescFontSize: 17px;
$mainPageLineHeight: 1;

// Colors
$menuFontColor: #555;
$logoFontColor: #f73934;
$laysMainColor: #f73934;
$menuColor: #f6f6f6;
$pageShadow: 0 0 40px 0 rgba(0, 0, 0, .5);
$pageBackground: #ffda2d;
$iconDesc: #45370a;