// Fonts
$lightFont: "GothamPro-Light";
$regularFont: "GothamPro-Regular";
$mediumFont: "GothamPro-Medium";
$boldFont: "GothamPro-Bold";
$blackFont: "GothamPro-Black";

// Size
$baseFontSize: 14px;
$logoFontSize: 16px;
$mainPageLineHeight: 1;

// Colors
$baseFontColor: #555;
$logoFontColor: #f73934;
$laysTitleColor: #f73934;
$menuColor: #f6f6f6;
$pageShadow: 0 0 40px 0 rgba(0, 0, 0, .5);